.nav-bg-dark {
  background-color: #232931;
}

.jumbotron {
  padding-top: 6rem;
  background-color: #232931;
}

#about {
  background-color: #eeeeee;
}

#education {
  background-color: #232931;
}

#soft_skills {
  background-color: #eeeeee;
}

#projects {
  background-color: #232931;
}

#contact {
  background-color: #eeeeee;
}

section {
  padding-top: 5rem;
}
